[submodule "libpthread++"]
	path = libpthread++
	url = git://git.joachim-wilke.de/libpthread++.git
[submodule "libfritz++"]
	path = libfritz++
	url = git://git.joachim-wilke.de/libfritz++.git
[submodule "libtcpclient++"]
	path = libtcpclient++
	url = git://git.joachim-wilke.de/libtcpclient++.git
